# dependencies
/node_modules
node_modules/
/.pnp
.pnp.js
.pnp.*
node_modules.zip
jspm_packages/

# testing
/coverage
*.lcov
.nyc_output

# next.js
/.next/
.next
/out/
out

# production
/build
build/Release
dist

# misc
.DS_Store
*.pem
.lock-wscript
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode
.vscode-test
.tern-port

# Logs
logs
*.log

# Temporary files
*.tmp
*.temp
.temp
.cache
.parcel-cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# MongoDB data directory
/data/db

# Replit specific
.replit
replit.nix
.breakpoints

# Optional caches
.npm
.eslintcache
.stylelintcache
.node_repl_history

# Serverless
.serverless/
.dynamodb/

# Other
bower_components
lib-cov
.grunt
web_modules/
.docusaurus
.fusebox/
pids
*.pid
*.seed
*.pid.lock
*.tgz
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Required
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="supersecret" # You can generate this with: openssl rand -base64 32

# Database
DATABASE_URL="your-mongodb-url"

# OAuth
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# App
APP_NAME="RoofLeadsPro"
