run = "bash replit-fix.sh"
entrypoint = "src/app/page.tsx"
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_11"

[env]
NEXT_TELEMETRY_DISABLED = "1"
NODE_ENV = "production"
PATH = "/home/runner/.npm/bin:/home/runner/.local/bin:/home/runner/.nvm/versions/node/v18.19.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[[ports]]
localPort = 3000
externalPort = 80


