run = "npm run start"
build = "npm run build"
entrypoint = "src/app/page.tsx"

[env]
NEXT_TELEMETRY_DISABLED = "1"
PATH = "/home/runner/$REPL_SLUG/.bin:/home/runner/$REPL_SLUG/node_modules/.bin:/home/runner/.nvm/versions/node/v18.19.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
NODE_ENV = "production"

[nix]
channel = "stable-23_11"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[languages]
javascript = "node:18"

[unitTest]
language = "nodejs"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
syntax = "javascript"

[languages.typescript]
pattern = "**/{*.ts,*.tsx}"
syntax = "typescript"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ]

[debugger]
support = true

[debugger.interactive]
transport = "localhost:0"
startCommand = [ "dap-node" ]

[debugger.interactive.initializeMessage]
command = "initialize"
type = "request"

[debugger.interactive.initializeMessage.arguments]
clientID = "replit"
clientName = "replit.com"
columnsStartAt1 = true
linesStartAt1 = true
locale = "en-us"
pathFormat = "path"
supportsInvalidatedEvent = true
supportsProgressReporting = true
supportsRunInTerminalRequest = true
supportsVariablePaging = true
supportsVariableType = true

[debugger.interactive.launchMessage]
command = "launch"
type = "request"

[debugger.interactive.launchMessage.arguments]
args = []
console = "externalTerminal"
cwd = "."
environment = []
pauseForSourceMap = false
program = "./index.js"
request = "launch"
sourceMaps = true
stopOnEntry = false
type = "pwa-node"

[deployment]
deploymentTarget = "cloudrun"
build = ["/home/runner/$REPL_SLUG/node_modules/.bin/npm", "run", "build"]
run = ["/home/runner/$REPL_SLUG/node_modules/.bin/npm", "run", "start"]
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80


